:root {
  --bg-color: #003f3f;
  --font-color: #FFFFDB;
  --interactive-color: inherit;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Chicle', cursive;
  font-size: clamp(2rem, -0.875rem + 12.333vw, 4.5rem);
  line-height: 1.2;
  text-align: center;

  /* Full screen width and height */
  width: 100%;
  min-height: 100vh;

  /* Centers the container in the middle of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: var(--interactive-color);
  display: block;
  transition: font-variation-settings 0.2s ease 0s, text-decoration-thickness 0.2s ease 0s, font-weight 0.2s ease 0s;
}
a:hover {
  cursor: pointer;
  filter: url(#noise);
}
a.close-modal-btn {
  animation: none;
  font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif;
  font-size: 72px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 2vw;
  right: 2vw;
}
.content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 80vw;
  justify-items: center;
}
/* fun shit */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.25;
}
.script {
  font-family: 'Pinyon Script', cursive;
}
.modal-trigger {
  background-color: var(--font-color);
  background-image: url(Acid_Smiley.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50px;
  color: var(--bg-color);
  display: grid;
  align-content: center;
  justify-content: center;
  font-family: 'Noto Color Emoji', sans-serif;
  font-size: 36px;
  line-height: 36px;
  position: fixed;
  width: 70px;
  height: 70px;
  overflow: hidden;
  z-index: 2;
}
.modal-trigger--video {
  top: 2vw;
  right: 2vw;
}
.modal-trigger--message {
  top: 2vw;
  left: 2vw;
}
.modal-trigger--picture {
  bottom: 2vw;
  right: 2vw;
}
.modal-trigger--sound {
  bottom: 2vw;
  left: 2vw;
}

#container {
  perspective: 25px;
  display: grid;
  justify-content: center;
}
#inner {
  background: url(bg-image.jpg) no-repeat center center;
  background-size: cover;
  width: 50vw;
  height: 50vh;
  border: 2px solid var(--font-color);
  transition: transform 0.5s;
}
@media only screen and (max-width: 600px) {
  #inner {
    height: 30vh;
  }
}

.transform {
  letter-spacing: .15rem;
  position: absolute;
  text-transform: uppercase;
}
.transform--top {
  top: 2vw;
}
.transform--left {
  transform-origin: top left;
  left: 2vw;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
}
.transform--right {
  transform-origin: top right;
  right: 2vw;
  top: 50%;
  transform: rotate(90deg) translateX(50%);
}
.transform--bottom {
  bottom: 2vw;
  transform: rotate(-180deg);
}
