:root {
  --bg-color: #003f3f;
  --font-color: #FFFFDB;
  --interactive-color: inherit;
}
html, body {
  height: 100%;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Chicle', cursive;
  font-size: clamp(2rem, -0.875rem + 12.333vw, 4.5rem);
  line-height: 1.2;
  text-align: center;

  /* Full screen width and height */
  width: 100%;


  /* Centers the container in the middle of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: var(--interactive-color);
  display: block;
  transition: font-variation-settings 0.2s ease 0s, text-decoration-thickness 0.2s ease 0s, font-weight 0.2s ease 0s;
}
a:hover {
  cursor: pointer;
  filter: url(#noise);
}
a.close-modal-btn {
  animation: none;
  font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif;
  font-size: 72px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  top: 24px;
  right: 24px;
}
h1, p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 80vw;
  justify-items: center;
}
/* fun shit */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.script {
  font-family: 'Pinyon Script', cursive;
}
.modal-trigger {
  background-color: var(--font-color);
  background-image: url(Acid_Smiley.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  position: fixed;
  width: 70px;
  height: 70px;
  overflow: hidden;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .modal-trigger {
    width: 50px;
    height: 50px;
  }
}
.modal-trigger--video {
  top: 24px;
  left: 24px;
}
.modal-trigger--message {
  background-image: url(joni.jpg);
  background-size: 137% 137%;
  top: 24px;
  right: 24px;
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-trigger--picture {
  bottom: 24px;
  right: 24px;
}
.modal-trigger--sound {
  bottom: 24px;
  left: 24px;
}

#container {
  perspective: 25px;
  display: grid;
  justify-content: center;
}
#inner {
  background: url(bg-image.jpg) no-repeat center center;
  background-size: cover;
  width: 50vw;
  height: 50vh;
  border: 2px solid var(--font-color);
  transition: transform 0.5s;
  animation: fade 20s infinite;
}
@keyframes fade {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@media only screen and (max-width: 768px) {
  #inner {
    height: 30vh;
  }
}

.transform {
  letter-spacing: .15rem;
  position: absolute;
  text-transform: uppercase;
}
.transform--top {
  top: 24px;
}
.transform--left {
  transform-origin: top left;
  left: 24px;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
}
.transform--right {
  transform-origin: top right;
  right: 24px;
  top: 50%;
  transform: rotate(90deg) translateX(50%);
}
.transform--bottom {
  bottom: 24px;
  transform: rotate(-180deg);
}

/* Styles for the modal container */
.modal-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: opacity 0.3s ease; /* You can adjust the transition property as needed */
  opacity: 0; /* Start with opacity set to 0 */
  z-index: 998;
}

/* Styles for the modal content */
.modal-content {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3.5rem);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 24px;
  box-sizing: border-box;
  transition: transform 0.3s ease; /* You can adjust the transition property as needed */
  transform: translateY(100%); /* Start with the modal content below the viewport */

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-message {
  max-width: 80vw;
  margin: 0 auto;
}

/* Close button style */
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--bg-color);
  background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,63,63,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E") center/1em auto no-repeat;
  border: 0;
  z-index: 999;

  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}
